# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/pnpm-lock.yaml

# Build output
/dist

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Temporary files created by Puppeteer
/tmp

# Debug and cache files
/data/debug_*.html
/data/debug_*.png
/data/last_escalafon_update.txt

# IDE config
.idea
.vscode

/NOTAS